<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Player Page</title>
</head>
<body>
<h1>Player List</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Number</th>
        <th>Club</th>
    </tr>
    <tr th:each="player : ${players}">
        <td th:text="${player.id}">Id</td>
        <td th:text="${player.name}">Name</td>
        <td th:text="${player.surname}">Surname</td>
        <td th:text="${player.number}">Number</td>
        <td th:text="${player.club.name}">Club</td>
    </tr>
</table>
</body>
</html>